/* Prevents page scrolling */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Page container that prevents scrolling */
.page-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

/* Fixed menu at the top */
.fixed-menu {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    z-index: 1000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 20px;
}

/* Content wrapper takes the remaining height */
.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 70px 0px 0px 85px; /* Adjust to match menu height */
    margin-right: 20px;
}

/* Only this section is scrollable */
.scrollable-segment-group {
    flex-grow: 1;
    max-height: 60vh; /* Adjust as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    border: 1px solid #ccc; /* Optional */
}

.scrollable-segment-group-card {
    flex-grow: 1;
    max-height: 60vh; /* Adjust as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    border: 1px solid #ccc; /* Optional */
}

.overlay-dropdown{
    position: relative;
}

.page-container-ticket-content{
    display: flex;
    flex-direction: column;
}

.assignee-card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Custom dropdown with no clear icon */
.ui.dropdown .clear.icon {
    display: none !important;
}

.custom-modal .ui.dimmer.modals {
    background-color: rgba(0, 0, 0, 0.2) !important; /* 40% black opacity */
}

/* Custom striped table with opacity using RGBA */
/*.striped-table tbody tr:nth-child(odd) {*/
/*    background-color: lightblue !important; !* Light Red with 50% opacity *!*/
/*}*/

.striped-table{
    overflow-y: auto;
    position: relative;
    height: 70vh; /* Adjust as needed */
}

.striped-table tbody tr:nth-child(even) {
    background-color: rgba(230, 247, 255, 0.5) !important; /* Light Blue with 50% opacity */
}

.striped-table thead tr {
    color: white !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.table-container {
    overflow-y: auto;
    position: relative;
    height: 73vh; /* Adjust as needed */
}

.fixed-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table-container-ticket {
    overflow-y: auto;
    position: relative;
    height: 50vh; /* Adjust as needed */
}

.table-container-assignee {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: 70vh; /* Adjust as needed */
}

.ticket-menu-container {
    border-radius: 8px 8px 0 0;
    /*background-color: #f9f9f9;*/
    padding: 5px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.ticket-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-menu {
    margin: 0;
    padding: 0;
}

.ticket-menu-item {
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/*.ticket-menu-item:hover {*/
/*    background-color: lightgrey !important;*/
/*    !*color: white !important;*!*/
/*}*/

/* TicketMenu.css */
/*.ticket-menu-item {*/
/*    opacity: 0;*/
/*    transition: opacity 0.5s ease-in-out;*/
/*}*/

/*.ticket-menu-item.visible {*/
/*    opacity: 1;*/
/*}*/

/*.ticket-menu-item.active {*/
/*    background-color: blue !important;*/
/*    color: white !important;*/
/*}*/

.ticket-menu-dropdowns {
    display: flex;
    gap: 10px;
}

.ticket-menu-dropdown {
    background-color: white;
    border-radius: 4px;
    padding: 5px;
}

/* Custom menu item hover and active effects */
/*.ticket-menu-container .menu-item {*/
/*    transition: background-color 0.3s ease, color 0.3s ease;*/
/*}*/

/*.ticket-menu-container .menu-item:hover {*/
/*    background-color: #f0f0f0;*/
/*    color: #000;*/
/*}*/

/*.ticket-menu-container .menu-item.active {*/
/*    background-color: #e0e0e0;*/
/*    color: #0066cc;*/
/*}*/

/*.ticket-menu-container .menu-item .icon {*/
/*    margin-right: 8px;*/
/*}*/

/*.ticket-menu-container .filters-container .ui.dropdown {*/
/*    min-width: 140px;*/
/*}*/

/* TicketMenu.css */
.ticket-menu-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.ticket-menu-item.visible {
    opacity: 1;
}




